.DS_Store

# IntelliJ
out/
.idea

# Gradle
.gradle/

# File-based project format
*.iws
*.iml
*.ipr

logs/

build/

.terraform/

version.txt

application-override.properties
.idea/*
.idea/codeStyles/*
usejava11

# eclipse related
*.project
*.classpath
*.class
.settings/
*.gitignore
bin/
apollo-charts/apollo-mesh/charts/**
apollo-charts/apollo/charts/**
**/availability.log
**/sentry-events/**

*.log
